In [1]:
import requests
from bs4 import BeautifulSoup
import psycopg2
import pandas
import json
from sqlalchemy import create_engine
from geopy.geocoders import Nominatim
from geopy.exc import GeocoderUnavailable
from time import sleep

In [2]:
url = {'url':'https://en.wikipedia.org/wiki/List_of_association_football_stadiums_by_capacity'}

In [3]:
def extract_wikipedia_data(**kwargs):
    url = kwargs['url']
    try:
        response = requests.get(url)
        response.raise_for_status()
    except requests.RequestException as e:
        print(e)

    soup = BeautifulSoup(response.text, 'html.parser')
    tables = soup.find_all('table')
    find_table = soup.find('table',  class_="wikitable sortable sticky-header")
    tr_tags = find_table.find_all('tr')

    #exrtact column name
    th_tags = tr_tags[0].find_all('th')
    data_columns = [th.text.strip('\n')  for th in th_tags]

    #extract row value
    data_rows = []
    for i in range(1, len(tr_tags)):
        td_tags = tr_tags[i].find_all('td')
        #0-stadium name
        #1-seating capacity
        #2-region
        #3-contruy
        #4-city
        #5-image
        #6-hometeam
        data_rows.append([
            i,
            td_tags[0].text.replace(' ♦', '').strip('\n'),
            td_tags[1].text.strip('\n').split('[')[0].replace(',', '').replace('.', ''),
            td_tags[2].text.strip('\n'),
            td_tags[3].text.replace('\xa0', '').strip('\n'),
            td_tags[4].text.strip('\n'),
            td_tags[5].find('img').attrs['src'] if td_tags[5].find('img') else None,
            td_tags[6].text.strip('\n')
        ])

    return data_columns, data_rows

In [4]:
columns, rows = extract_wikipedia_data(**url)

In [61]:
df = pandas.DataFrame(data=rows, columns=columns)
df.head()

,Rank,Stadium,Seating capacity,Region,Country,City,Images,Home team(s)
0,1,Rungrado 1st of May Stadium,114000,East Asia,North Korea,Pyongyang,//upload.wikimedia.org/wikipedia/commons/thumb...,"Korea DPR national football team, Korea DPR wo..."
1,2,Michigan Stadium,107601,North America,United States,"Ann Arbor, Michigan",//upload.wikimedia.org/wikipedia/commons/thumb...,Michigan Wolverines football
2,3,Ohio Stadium,102780,North America,United States,"Columbus, Ohio",//upload.wikimedia.org/wikipedia/commons/thumb...,Ohio State Buckeyes football
3,4,Melbourne Cricket Ground,100024,Oceania,Australia,"Melbourne, Victoria",//upload.wikimedia.org/wikipedia/commons/thumb...,"Australia national cricket team, Victoria cric..."
4,5,Spotify Camp Nou,99354,Europe,Spain,"Barcelona, Catalonia",//upload.wikimedia.org/wikipedia/commons/thumb...,FC Barcelona

In [7]:
engine = create_engine('postgresql://postgres:12345678@localhost:5432/mydb')
df.to_sql('example', engine, if_exists='replace', index=False)

378

In [62]:
new_columns = [i.replace(' ', '_').lower() for i in columns]
df = pandas.DataFrame(data=rows, columns=new_columns)
df.rename(columns={"stadium": "stadium_name"}, inplace=True)

In [63]:
df.head()

,rank,stadium_name,seating_capacity,region,country,city,images,home_team(s)
0,1,Rungrado 1st of May Stadium,114000,East Asia,North Korea,Pyongyang,//upload.wikimedia.org/wikipedia/commons/thumb...,"Korea DPR national football team, Korea DPR wo..."
1,2,Michigan Stadium,107601,North America,United States,"Ann Arbor, Michigan",//upload.wikimedia.org/wikipedia/commons/thumb...,Michigan Wolverines football
2,3,Ohio Stadium,102780,North America,United States,"Columbus, Ohio",//upload.wikimedia.org/wikipedia/commons/thumb...,Ohio State Buckeyes football
3,4,Melbourne Cricket Ground,100024,Oceania,Australia,"Melbourne, Victoria",//upload.wikimedia.org/wikipedia/commons/thumb...,"Australia national cricket team, Victoria cric..."
4,5,Spotify Camp Nou,99354,Europe,Spain,"Barcelona, Catalonia",//upload.wikimedia.org/wikipedia/commons/thumb...,FC Barcelona

In [48]:


# Function to get coordinates using Nominatim with retry mechanism
def get_coordinates(city, country):
    coordinates_cache = {}
    retries=3
    delay=2
    
    location_key = f"{city}, {country}"
    if location_key in coordinates_cache:
        return coordinates_cache[location_key]
    else:
        for _ in range(retries):
            try:
                geolocator = Nominatim(user_agent="geo_locator")
                location = geolocator.geocode(location_key, timeout=10)  # Increase timeout if needed
                if location:
                    coordinates = (location.latitude, location.longitude)
                    coordinates_cache[location_key] = coordinates
                    return coordinates
                else:
                    return None
            except GeocoderUnavailable:
                print("GeocoderUnavailable error. Retrying after delay...")
                sleep(delay)
        else:
            print("Max retries exceeded. Could not retrieve coordinates.")
            return None

# Apply the function to create the location column
df['location'] = df.apply(lambda row: get_coordinates(row['city'], row['country']), axis=1)

print(df)

     rank                           stadium_name seating_capacity  \
0       1            Rungrado 1st of May Stadium           114000
1       2                       Michigan Stadium           107601
2       3                           Ohio Stadium           102780
3       4               Melbourne Cricket Ground           100024
4       5                       Spotify Camp Nou            99354
..    ...                                    ...              ...
373   374                         Bao'an Stadium            40000
374   375  Kunming Tuodong Sports Centre Stadium            40000
375   376          Taizhou Sports Centre Stadium            40000
376   377                   Wuhu Olympic Stadium            40000
377   378                Huizhou Olympic Stadium            40000

            region        country                  city  \
0        East Asia    North Korea             Pyongyang
1    North America  United States   Ann Arbor, Michigan
2    North America  United States        Columbus, Ohio
3          Oceania      Australia   Melbourne, Victoria
4           Europe          Spain  Barcelona, Catalonia
..             ...            ...                   ...
373      East Asia          China   Shenzhen, Guangdong
374      East Asia          China       Kunming, Yunnan
375      East Asia          China     Taizhou, Zhejiang
376      East Asia          China           Wuhu, Anhui
377      East Asia          China    Huizhou, Guangdong

                                                images  \
0    //upload.wikimedia.org/wikipedia/commons/thumb...
1    //upload.wikimedia.org/wikipedia/commons/thumb...
2    //upload.wikimedia.org/wikipedia/commons/thumb...
3    //upload.wikimedia.org/wikipedia/commons/thumb...
4    //upload.wikimedia.org/wikipedia/commons/thumb...
..                                                 ...
373  //upload.wikimedia.org/wikipedia/commons/thumb...
374  //upload.wikimedia.org/wikipedia/commons/thumb...
375                                               None
376                                               None
377                                               None

                                          home_team(s)  \
0    Korea DPR national football team, Korea DPR wo...
1                         Michigan Wolverines football
2                         Ohio State Buckeyes football
3    Australia national cricket team, Victoria cric...
4                                         FC Barcelona
..                                                 ...
373
374                       China national football team
375
376
377

                       location
0     (39.0167979, 125.7473609)
1     (42.2813722, -83.7484616)
2     (39.9622601, -83.0007065)
3    (-37.8142454, 144.9631732)
4       (41.3828939, 2.1774322)
..                          ...
373   (22.5445741, 114.0545429)
374   (25.0363006, 102.7086139)
375   (28.6581723, 121.4163876)
376   (31.1800568, 118.2141777)
377   (23.1125153, 114.4127007)

[378 rows x 9 columns]

In [50]:
df.head(100)

,rank,stadium_name,seating_capacity,region,country,city,images,home_team(s),location
0,1,Rungrado 1st of May Stadium,114000,East Asia,North Korea,Pyongyang,//upload.wikimedia.org/wikipedia/commons/thumb...,"Korea DPR national football team, Korea DPR wo...","(39.0167979, 125.7473609)"
1,2,Michigan Stadium,107601,North America,United States,"Ann Arbor, Michigan",//upload.wikimedia.org/wikipedia/commons/thumb...,Michigan Wolverines football,"(42.2813722, -83.7484616)"
2,3,Ohio Stadium,102780,North America,United States,"Columbus, Ohio",//upload.wikimedia.org/wikipedia/commons/thumb...,Ohio State Buckeyes football,"(39.9622601, -83.0007065)"
3,4,Melbourne Cricket Ground,100024,Oceania,Australia,"Melbourne, Victoria",//upload.wikimedia.org/wikipedia/commons/thumb...,"Australia national cricket team, Victoria cric...","(-37.8142454, 144.9631732)"
4,5,Spotify Camp Nou,99354,Europe,Spain,"Barcelona, Catalonia",//upload.wikimedia.org/wikipedia/commons/thumb...,FC Barcelona,"(41.3828939, 2.1774322)"
...,...,...,...,...,...,...,...,...,...
95,96,Ford Field,65000,North America,United States,Detroit,//upload.wikimedia.org/wikipedia/commons/thumb...,Detroit Lions,"(42.3315509, -83.0466403)"
96,97,Stade Ibn Battuta,65000,Africa,Morocco,Tangier,//upload.wikimedia.org/wikipedia/commons/thumb...,IR Tanger,"(35.7696302, -5.8033522)"
97,98,Estádio do Sport Lisboa e Benfica,64642,Europe,Portugal,Lisbon,//upload.wikimedia.org/wikipedia/commons/thumb...,Benfica,"(38.7077507, -9.1365919)"
98,99,Stade du 5-juillet-1962,64000,Africa,Algeria,Algiers,//upload.wikimedia.org/wikipedia/commons/thumb...,Algeria national football team,"(36.7753606, 3.0601882)"
99,100,Castelão,63903,South America,Brazil,"Fortaleza, Ceará",//upload.wikimedia.org/wikipedia/commons/thumb...,"Ceará SC, Fortaleza EC","(-3.7304512, -38.5217989)"

In [51]:
df.to_csv('test2.csv', mode='w')

In [53]:
df[['latitude', 'longitude']] = pandas.DataFrame(df['location'].tolist(), index=df.index)

In [54]:
df.head()

,rank,stadium_name,seating_capacity,region,country,city,images,home_team(s),location,latitude,longitude
0,1,Rungrado 1st of May Stadium,114000,East Asia,North Korea,Pyongyang,//upload.wikimedia.org/wikipedia/commons/thumb...,"Korea DPR national football team, Korea DPR wo...","(39.0167979, 125.7473609)",39.016798,125.747361
1,2,Michigan Stadium,107601,North America,United States,"Ann Arbor, Michigan",//upload.wikimedia.org/wikipedia/commons/thumb...,Michigan Wolverines football,"(42.2813722, -83.7484616)",42.281372,-83.748462
2,3,Ohio Stadium,102780,North America,United States,"Columbus, Ohio",//upload.wikimedia.org/wikipedia/commons/thumb...,Ohio State Buckeyes football,"(39.9622601, -83.0007065)",39.962260,-83.000707
3,4,Melbourne Cricket Ground,100024,Oceania,Australia,"Melbourne, Victoria",//upload.wikimedia.org/wikipedia/commons/thumb...,"Australia national cricket team, Victoria cric...","(-37.8142454, 144.9631732)",-37.814245,144.963173
4,5,Spotify Camp Nou,99354,Europe,Spain,"Barcelona, Catalonia",//upload.wikimedia.org/wikipedia/commons/thumb...,FC Barcelona,"(41.3828939, 2.1774322)",41.382894,2.177432